<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Demo</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="icon" href="/img/weather.png">
  </head>
  <body>
    {{>header}}

    <p>Obten el clima de cualquier lugar</p>
    <form action="">
      <input type="text" id="lugar" name="lugar" placeholder="Indica el lugar">
      <button>Enviar</button>
    </form>

    <p id="clima"></p>
    {{>footer }}

    <script src="../js/app.js"></script>
  </body>
</html>