@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Smooch+Sans&display=swap");

body {
  font-family: Hubballi, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 95px 0 95px 0;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Smooch Sans", sans-serif;
  color: #cc0000;
  margin: 0;
}

h2 {
  font-family: "Smooch Sans", sans-serif;
  color: #aa0000;
}

footer {
  background-color: #4b677a;
  padding: 2px 16px;
  color: #fcfcfc;
  border-top: 1px solid #888;
  margin-top: 2px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

header {
  background-color: #ccc;
  padding: 2px 16px 12px 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

header a {
  color: #115684;
  text-decoration: none;
  margin-right: 12px;
}

header a:hover {
  color: #f00;
  transition: all;
  transition-duration: 0.5s;
}

#about {
  text-align: center;
  width: 100%;
  margin: 10px 0;
}

.portrait {
  width: 150px;
  border-radius: 10px;
}

input {
  border-radius: 5px;
  padding: 12px 16px;
  border: 1px solid #cccccc;
}
button {
  cursor: pointer;
  background-color: #ccc;
  color: #000;
  padding: 12px 16px;
  border-radius: 5px;
  transition: all;
  transition-duration: 0.5s;
}
button:hover {
  background-color: #777;
  color: #fff;
}
